* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    

}

body {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    background-image: url(fundo.png);
    background-repeat: no-repeat;
    background-size: 100vmax;
    
    
}


header {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightcyan;
    
}

main {

    flex-grow: 1;
    

}
h1 >img {

    height: 130px;
    width: 250px;

}


.galeria {


    display: grid;
    gap: 10px;
    grid-template-areas:
    "item1 item2 item2 item3"
    "item1 item4 item5 item3"
    "item1 item6 item8 item8"
    "item1 item7 item8 item8"
    ;
    grid-auto-rows: 20vh;
    padding: 10px;
    
    

}

.fotos:nth-child(1) {grid-area: item1;}
.fotos:nth-child(2) {grid-area: item2;}
.fotos:nth-child(3) {grid-area: item3;}
.fotos:nth-child(4) {grid-area: item4;}
.fotos:nth-child(5) {grid-area: item5;}
.fotos:nth-child(6) {grid-area: item6;}
.fotos:nth-child(7) {grid-area: item7;}
.fotos:nth-child(8) {grid-area: item8;}

.fotos {

    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(236, 236, 236);

    transition: all 0.8s;
}
.fotos:hover {

    box-shadow: 0px 0px 20px rgb(236, 236, 236);

}

img {

    height: 100%;
    width: 100%;
    transition: all .4s linear;
    object-fit: cover;
    /*filter: blur(5px);*/
    /* filter: grayscale(0.8); */
    /* filter: sepia(1); */
    /* filter: saturate(20000%); */
    /* filter: hue-rotate(600deg); */
    /* filter: invert(.8); */
    filter: opacity(.75) ; 
    /* filter: brightness(0.5); */
    /* filter: contrast(200%); */
}

.fotos img:hover {

    transform: scale(110%) ;
    /* filter: blur(0px); */
    /* filter: grayscale(0); */
    /* filter: sepia(0); */
    /* filter: saturate(100%); */
    /* filter: hue-rotate(0deg); */
    /* filter: invert(0); */
     filter: opacity(1); 
    /* filter: brightness(1); */
    /* filter: contrast(100%); */

}
